html {
    font-size: 62.5%;
}
body {
    background: darkgray;
    font-size: 1.6rem;
}

#animation {
    animation-name: bonjour;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bonjour {
    from {
        font-size: 1rem;
    }

    to {
        font-size: 3rem;
    }
}