html {
    font-size: 62.5%;
}
body {
    background: darkgray;
    font-size: 1.6rem;
}

#p4 {
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bonjour {
    0% {
        color: red;
    }

    100% {
        color: blue;
    }
}
